<div>
    <h2 id="page-heading">
        <span jhiTranslate="pmssqlApp.employeeName.home.title">Employee Names</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employee-name" [routerLink]="['/employee-name/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="pmssqlApp.employeeName.home.createLabel">
            Create new Employee Name
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="employeeNames">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="pmssqlApp.employeeName.ownerId">Owner Id</span></th>
            <th><span jhiTranslate="pmssqlApp.employeeName.nameKey">Name Key</span></th>
            <th><span jhiTranslate="pmssqlApp.employeeName.nameValue">Name Value</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let employeeName of employeeNames ;trackBy: trackId">
                <td><a [routerLink]="['/employee-name', employeeName.ownerId, 'view' ]">{{employeeName.ownerId}}</a></td>
                <td>{{employeeName.nameKey}}</td>
                <td>{{employeeName.nameValue}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/employee-name', employeeName.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/employee-name', employeeName.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'employee-name/'+ employeeName.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
