<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-employee-heading" jhiTranslate="pmssqlApp.employee.home.createOrEditLabel">Create or edit a Employee</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!employee.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="employee.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.surname" for="field_surname">Surname</label>
                    <input type="text" class="form-control" name="surname" id="field_surname"
                        [(ngModel)]="employee.surname" required/>
                    <div [hidden]="!(editForm.controls.surname?.dirty && editForm.controls.surname?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.surname?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.givenName" for="field_givenName">Given Name</label>
                    <input type="text" class="form-control" name="givenName" id="field_givenName"
                        [(ngModel)]="employee.givenName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.dateOfBirth" for="field_dateOfBirth">Date Of Birth</label>
                    <div class="input-group">
                        <input id="field_dateOfBirth" type="text" class="form-control" name="dateOfBirth" ngbDatepicker  #dateOfBirthDp="ngbDatepicker" [(ngModel)]="employee.dateOfBirth"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateOfBirthDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.gender" for="field_gender">Gender</label>
                    <select class="form-control" name="gender" [(ngModel)]="employee.gender" id="field_gender" >
                        <option value="UNKNOWN">{{'pmssqlApp.GenderType.UNKNOWN' | translate}}</option>
                        <option value="MALE">{{'pmssqlApp.GenderType.MALE' | translate}}</option>
                        <option value="FEMALE">{{'pmssqlApp.GenderType.FEMALE' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.postalCode" for="field_postalCode">Postal Code</label>
                    <input type="text" class="form-control" name="postalCode" id="field_postalCode"
                        [(ngModel)]="employee.postalCode" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                        [(ngModel)]="employee.city" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.streetAddress" for="field_streetAddress">Street Address</label>
                    <input type="text" class="form-control" name="streetAddress" id="field_streetAddress"
                        [(ngModel)]="employee.streetAddress" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="pmssqlApp.employee.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" [(ngModel)]="employee.companyId"  required>
                        <option *ngIf="!editForm.value.company" [ngValue]="null" selected></option>
                        <option [ngValue]="companyOption.id" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{ displayName(companyOption) }}</option>
                    </select>
                </div>
                <div [hidden]="!(editForm.controls.company?.dirty && editForm.controls.company?.invalid)">
                    <small class="form-text text-danger"
                        [hidden]="!editForm.controls.company?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
